body{
    color:white;
}

h1{
    background-color: #caced6;
}

h4{
    background-color:#fff3af;
}
h4{
    padding:5px;
}
h4{
    font: size 30 pt;

}

body{
    border-style: dotted;

}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    color:#E2E3E7;
}
h3{
    color:#E2E3E7;
}
h4{
    color:#E2E3E7;
}
body {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    }