

h1{
    background-color: #caced6;
}
h2{
    background-color:#fff3af;
}
h3{
    background-color: cornflowerblue;
}
h4{
    background-color:#fff3af;
}
h4{
    padding:5px;
}

body{
    border-style: dotted

}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
background-color:floralwhite
}

.box{
    background-image: url(https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiB34yH-bnhAhXYl54KHVbHBAEQjRx6BAgBEAU&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FFlag_of_Spain&psig=AOvVaw0WDYMCUBm9ZSyl9zxrnhgl&ust=1554587817175582);
}